<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Expiry Report</title></head>
    <link rel="stylesheet" th:href="@{/css/list.css}" />

<body>
    <h2>Expiry Report</h2>
        <a th:href="@{/dashboard}">← Back to Dashboard</a>
    <table border="1">
        <thead>
            <tr>
                <th>Drug Name</th>
                <th>Batch</th>
                <th>Expiry Date</th>
                <th>Remaining Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${report}">
                <td th:text="${item.drugName}">Drug</td>
                <td th:text="${item.batch}">Batch123</td>
                <td th:text="${item.expiryDate}">2025-08-01</td>
                <td th:text="${item.quantityRemaining}">50</td>
            </tr>
            
        </tbody>
<a th:href="@{/reports}">← Back to reports</a>
        
    </table>
</body>
</html>
