<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Place Order</title>
    <link rel="stylesheet" th:href="@{/css/form.css}" />
</head>
<body>
    <h2>Place New Order</h2>
    <a th:href="@{/orders}">← Back to Order List</a>
    <br><br>

    <form th:action="@{/orders/save}" th:object="${order}" method="post">
    <label>Customer Name:</label>
    <input type="text" th:field="*{customerName}" required /><br/><br/>

    <div th:each="item, iterStat : *{items}">
        <label>Drug:</label>
        <select th:field="*{items[__${iterStat.index}__].drugId}" required>
            <option value="">-- Select Drug --</option>
            <option th:each="drug : ${drugs}" 
                    th:value="${drug.id}" 
                    th:text="${drug.name}">
            </option>
        </select><br/>

        <label>Quantity:</label>
        <input type="number" min="1" th:field="*{items[__${iterStat.index}__].quantity}" required/><br/><br/>
    </div>

    <button type="submit">Place Order</button>
</form>

</body>
</html>
