<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
    <link rel="stylesheet" th:href="@{/css/list.css}" />
</head>
<body>
    <h2>Customer Orders</h2>
    <a th:href="@{/dashboard}">← Back to Dashboard</a>
<br>
    <a th:href="@{/orders/new}" class="btn">Place New Order ---></a>
    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Total Amount</th>
                <th>Date</th>
                <th>Status</th>
                <th>Order Items</th>
                <th>Update Status</th>
                <th>Print Receipt</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.customerName}"></td>
                <td th:text="${order.totalAmount}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.status}"></td>
                <td>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Drug Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${order.items}">
                                <td th:text="${item.drug.name}"></td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${item.drug.price}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <form th:action="@{/orders/{id}/status(id=${order.id})}" method="post">
                        <select name="status">
                            <option th:each="status : ${T(com.drugstore.Model.OrderStatus).values()}"
                                    th:value="${status}"
                                    th:text="${status}"
                                    th:selected="${order.status != null and order.status.name() == status.name()}">
                            </option>
                        </select>
                        <button type="submit">Update</button>
                    </form>
                    
                </td>
                <td>
                <a th:href="@{'/orders/receipt/' + ${order.id}}" target="_blank">
        <button type="button">Download Receipt</button>
    </a>
                </td>

            </tr>
        </tbody>
    </table>
</body>
</html>
