<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchase List</title>
    <link rel="stylesheet" th:href="@{/css/list.css}" />

</head>
<body>

    <h2>Purchase List</h2>

    <div class="top-actions">
            <a th:href="@{/dashboard}">← Back to Dashboard</a>
   
        <a th:href="@{/purchases/add}" class="btn">Add New Purchase</a>
        <a th:href="@{/purchases/pdf}" target="_blank">
    <button type="button">Download PDF</button>
</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Drug</th>
                <th>Distributor</th>
                <th>Quantity</th>
                <th>Batch</th>
                <th>Purchase Date</th>
                <th>Expiry Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="purchase : ${purchases}">
                <td th:text="${purchase.id}"></td>
                <td th:text="${purchase.drugName}"></td>
                <td th:text="${purchase.distributorName}"></td>
                <td th:text="${purchase.quantity}"></td>
                <td th:text="${purchase.batch}"></td>
                <td th:text="${purchase.purchaseDate}"></td>
                <td th:text="${purchase.expiryDate}"></td>
                <td>
                    <a th:href="@{'/purchases/delete/' + ${purchase.id}}" class="btn">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
