<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Purchase Report Filter</title></head>
    <link rel="stylesheet" th:href="@{/css/form.css}" />

<body>

    
    <form th:action="@{/reports/purchases}" method="post" th:object="${filter}">
        <h2>Purchase Report - Filter</h2>
    <a th:href="@{/dashboard}">← Back to Dashboard</a>
   

        <label>Start Date:</label>
        <input type="date" th:field="*{startDate}" required><br/>
        <label>End Date:</label>
        <input type="date" th:field="*{endDate}" required><br/>
        <button type="submit">Generate Report</button>
         <a th:href="@{/reports}">← Back to Report</a>
    </form>
</body>
</html>
