<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/form.css}" />
</head>
<body>

    <h2>Add New Purchase</h2>

    <form th:action="@{/purchases/save}" th:object="${purchase}" method="post">
        <h2>Add New Purchase</h2>
        <label for="drug">Drug</label>
        <select th:field="*{drugId}" required>
            <option value="" disabled selected>Select Drug</option>
            <option th:each="drug : ${drugs}"
                    th:value="${drug.id}"
                    th:text="${drug.name}">
            </option>
        </select>

        <label for="distributor">Distributor</label>
        <select th:field="*{distributorId}" required>
            <option value="" disabled selected>Select Distributor</option>
            <option th:each="dist : ${distributors}"
                    th:value="${dist.id}"
                    th:text="${dist.name}">
            </option>
        </select>

        <label for="quantity">Quantity</label>
        <input type="number" th:field="*{quantity}" required />

        <label for="batch">Batch</label>
        <input type="text" th:field="*{batch}" required />

        <label for="purchaseDate">Purchase Date</label>
        <input type="date" th:field="*{purchaseDate}" required />

        <label for="expiryDate">Expiry Date</label>
        <input type="date" th:field="*{expiryDate}" required />

        <button type="submit" class="btn">Save Purchase</button>
            <a th:href="@{/purchases}" class="back-link btn">Back to List</a>
        
    </form>


</body>
</html>
