<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Purchase Report</title></head>
<link rel="stylesheet" th:href="@{/css/list.css}" />
<body>
    <h2>Purchase Report</h2>
        <a th:href="@{/dashboard}">← Back to Dashboard</a>
   
    <table border="1">
        <thead>
            <tr>
                <th>Drug Name</th>
                <th>Quantity Purchased</th>
                <th>Total Cost</th>
                <th>Purchase Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${report}">
                <td th:text="${item.drugName}">Paracetamol</td>
                <td th:text="${item.quantityPurchased}">100</td>
                <td th:text="${item.totalCost}">400.00</td>
                <td th:text="${item.purchaseDate}">2025-06-01</td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/reports/purchases}">Back</a>
</body>
</html>
